@use "sass:color";

$breakpoint-mobile: 470px;
$breakpoint-tablet: 780px;

$primary-light: #31708e;
$primary-dark: #4786eb;

$primary-light-disabled: color.adjust($primary-light, $lightness: 40%);

$secondar-light: #8fc1e3;

$background-light: #fcfaf8;
$background-dark: #14191f;

$light-gray: #f4f3f1;
$dark-gray: #67717e;

$danger: #d8000c;
$success: #4f8a10;
$warning: #9f6000;
$info: #31708f;

$female-bg: #fce7f3;
$female-fg: #b7004c;
$female-border: #fccee8;

$male-bg: #dbeafe;
$male-fg: #193cb8;
$male-border: #bedbff;

$other-bg: #f3f4f6;
$other-fg: #1e2939;
$other-border: #e5e7eb;


$border-radius: 12px;