@use "reset";
@use "variables" as var;
@use "header";
@use "footer";
@use "view_students";
@use "sass:color";



body {
    font-size: 16px;
    background-color: #f8f9fa;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh;
}

button {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid var.$dark-gray;
    border-radius: var.$border-radius;
    font-size: 0.9rem;
    padding: 6px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;

    &:hover, &:focus { background-color: color.adjust(var.$light-gray, $lightness: -5%); }
}

.light {
    font-size: 0.9rem;
    color: var.$dark-gray;
}

h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var.$dark-gray;
}

.box {
    background-color: #fff;
    border-radius: var.$border-radius;
    padding: 8px 12px;
    margin: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

    &.no-bg {
        background-color: transparent;
        box-shadow: none;
    }
}

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.toggle-switch {
    display: none;

    + label {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        border: 3px solid var.$primary-light;
        border-radius: var.$border-radius;
        background-color: var.$primary-light;
        font-weight: 500;
        color: var.$primary-light;
        cursor: pointer;

        &:hover, &:focus {
            background-color: color.adjust(var.$primary-light, $lightness: -10%);
        }

        &::before {
            content: "";
            position: absolute;
            width: 50%;
            height: 100%;
            left: 0;
            border-radius: 10px;
            background: #fff;
            transition: all 0.3s;
        }

        div {
            padding: 6px 12px;
            text-align: center;
            z-index: 1;
        }
    }

    + label div:first-child { color: var.$primary-light; transition: color 0.3s; }
    + label div:last-child { color: var.$light-gray; transition: color 0.3s; }

    &:checked {
        + label::before { left: 50%; }
        + label div:first-child { color: var.$light-gray; transition: color 0.3s; }
        + label div:last-child { color: var.$primary-light; transition: color 0.3s; }
    }
}


.textbox-container {
    position: relative;
    display: flex;
    width: 100%;
    margin: 8px 0; 

    & > span,
    input[type=text] {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) { border-radius: 0; }
        &:first-child { border-radius: var.$border-radius 0 0 var.$border-radius; }
        &:last-child { border-radius: 0 var.$border-radius var.$border-radius 0; }
        &:not(:first-child) { margin-left: -1px; }
    }

    input[type=text] {
        display: block;
        width: 100%;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 1rem;
        font-weight: 500;
        border-radius: var.$border-radius;
        -webkit-appearance: none;
        appearance: none;
        color: var.$dark-gray;
        border: 1px solid var.$primary-light;
        background: #fff;
        transition: border 0.3s ease;

        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;

        &::placeholder { color: #cbd1dc; }
        &:focus { outline: none; border-color: var.$primary-light; }
    }

    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 1rem;
        line-height: 25px;
        color: #fff;
        background: var.$primary-light;
        border: 1px solid var.$primary-light;
        transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    }

    &:focus-within {
        & > span {
            color: #fff;
            background-color: var.$primary-light;
            border-color: var.$primary-light;
        }
    }
}


.rbl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    background-color: var.$primary-light;
    border: 4px solid var.$primary-light;
    border-radius: var.$border-radius;

    input { display: none; }
    label {
        text-align: center;
        padding: 6px 24px;
        border-radius: 10px;
        font-weight: 500;
        color: #fff;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        cursor: pointer;

        &:hover, &:focus {
            background-color: color.adjust(var.$primary-light, $lightness: -10%);
        }
    }

    input:checked + label {
        background-color: #fff;
        color: var.$primary-light;
        &.gender-male { background-color: var.$male-bg; color: var.$male-fg; }
        &.gender-female { background-color: var.$female-bg; color: var.$female-fg; }
        &.gender-other { background-color: var.$other-bg; color: var.$other-fg; }
    }
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid var.$primary-light;
    border-radius: var.$border-radius;
    color: var.$dark-gray;
    font-weight: 500;
    margin: 12px 0;

    &::placeholder { color: #cbd1dc; }
    &:focus { border: 2px solid var.$primary-light; outline: none; }
}